/*
The designs were created to the following widths:
 Mobile: 375px
 Desktop: 1440px
*/

:root {
  --color-primary: hsl(187, 75%, 39%);
  --color-primary-dark: hsl(229, 23%, 23%);
  --color-primary-grayish: hsl(227, 10%, 46%);

  --color-neutral: hsl(0, 0%, 59%);

  --font-size-xs: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 1.8rem;

  --regular: 400;
  --bold: 700;
}

* {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  /*mobile min resolution*/
  min-width: 375px;
  min-height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: var(--font-size-md);
}

img {
  display: block;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  display: grid;
  place-content: center;

  background-color: var(--color-primary);
  background-image:
    url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");

  background-position:
    calc(100% - 55vw) calc(100% - 45vh),
    55vw 45vh;

  background-size:
    900px,
    900px;

  background-repeat:
    no-repeat,
    no-repeat,
    no-repeat;
}

.card {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.10);
  border-radius: 16px;
  margin: 0;
  width: 25vw;
  min-width: 337px;
  height: auto;
  min-height: 355px;

  background-color: white;
  color: var(--color-primary-dark);
  overflow: auto;
}

.card__background {
  width: 100%;
  height: 33%;

  background-color: hsl(187, 75%, 50%);
  background-image: url("../images/bg-pattern-card.svg");
  background-position: center;
}

.card .user {
  position: relative;

  border-bottom: 1px solid lightgray;
  padding-top: 76px;
  padding-bottom: 24px;

  text-align: center;
}

.user__photo {
  position: absolute;
  top: -52px;
  left: calc(50% - 52px);

  border: 4px solid white;
  border-radius: 50%;
  width: 104px;
  height: 104px;

  object-fit: cover;
  object-position: center;
}

.user__name {
  margin-bottom: 8px;

  font-size: var(--font-size-md);
  font-weight: var(--bold);
}

.user__name span,
.user__city {
  font-weight: var(--regular);

  color: var(--color-primary-grayish);
}

.user__city {
  font-size: var(--font-size-sm);
}

.user__statistics {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 24px 0;

  text-align: center;
}

.user__statistics .counter {
  font-size: var(--font-size-md);
  font-weight: var(--bold);
}

.user__statistics p {
  font-size: var(--font-size-xs);
}